
    .bannier{
        height: 600px;
         background:url('./../assets/style-skateur.jpg');
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
         background-attachment: fixed;
         width: 100%;
        

     }
     
    .titleSkate{
        font-family: "Barlow Semi Condensed", sans-serif;
        font-size: 43px;
    }
